html {
  font-size: 16px;
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

h1{
  font-size: 2.5rem;
  font-weight: 900;
}

h2{
  font-size: 1.5rem;
  font-weight: 500;
}

h3 {
  font: 1.2rem;
  font-weight: bold;
}

p{
  font-size: 0.9rem;
  font-weight: 400;
}

ul li{
  font-size: 0.9rem;
  font-weight: 400;
}

/*layout classes*/

.container {
  max-width: 64rem;
  height: auto ;
  margin: 0 auto;
}

.flexcontainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subcontainer{
  max-width: 60%;
  margin: 2rem 1.5rem;
  flex-grow: 2;
  flex-shrink: 1;
  flex-direction: column;
  align-items: flex-start;
}

.support {
  max-width: 40%;
  height: auto;
  align-items: baseline;
  margin-top: 2rem ;
  margin-bottom: 2rem;
  margin-right: auto;
  flex-grow: 1;
  flex-shrink: 2;
}


header{
 height: 4rem;
 max-width: auto;
 background-color: #67A1B2;
}

header .logo {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

.logo img {
  margin-right: 0.5rem;
}

.desktopnav{
  margin-right: 1.5rem;
}

.desktopnav ul li{
  display: inline;
  padding: 0 1rem;
}

.desktopnav ul li a{
 text-decoration: none;
}

.logo {
  height: 2rem;
  font-size: 1.2rem;
}

header #logotext1{
  font-weight: bold;
  color: #13171A;
}

header #logotext2{
  font-weight: 500;
  color: #73797F;
  padding-left: 0.2rem;
}

.mobilenav {
  display: none;
}

/* Banner */


.banner{
  background-color: #647175;
}

.banner .subcontainer img{
  width: 100%;
}

.banner .support{
  flex-direction: column;
}

.banner .support h1 {
  margin: 1.5rem 0;
  width: auto;
}

.banner .support h2 {
  margin: 1.5rem 0;
  width: auto;
}


.banner .support button{
  padding: 0.5rem 0;
  margin: 1.5rem 0rem;
  text-align: center;
  width: 80%;
  background-color: grey;
  border: none;
  font: 'Roboto', sans-serif;
  font-weight: bold;
}

 .banner .support button:hover {
  text-decoration: underline;
}


/*info section*/

.info{
  background-color: green;
}

.info .subcontainer img{
  width: 100%;
}

.info .subcontainer h1{
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

#quote-info{
  margin: 2rem 0;
}

.info.flexcontainer{
  align-items: flex-start;
}

.info .support {
  flex-direction: column;
}

.infobox img{
  width: 35%;
  height: auto;
  margin: 1rem 1rem;
}

#orientation {
  margin-top: 0;
}

.infotext{
  width: 65%;
  height: auto;
}

.infotext h2,
.infotext p,
.infotext a{
  margin: 1rem auto 1rem 0;
}

/*courses*/
.course{
  flex-direction: column;
  background-color: Aquamarine;
  margin: 0 auto;
}

.course h1{
    margin: 2rem auto;
    text-align: center;
    overflow: hidden;
}

.courses{
  flex-wrap: wrap;
  margin: 0 4.5rem 2rem 4.5rem;
}

.program-box{
  flex-direction: column;
  width: 30%;
  margin: 2rem auto;
}

.program-box img{
  width: 100%;
  height: auto;
}

.program-details h2{
  margin: 1rem 0;
}

.program-details h3, #courses-line{
  padding: 0.5rem 0;
}

/*Thesis sectoin*/

.thesis {
  background-color: CornflowerBlue;
}

.thesis h1{
  text-align: center;
  width: 100%;
  margin: 0 auto 0 auto;
  padding-top: 2rem;
}

.thesis-content{
  margin: 0 0;
  padding: 0 0;
}

.thesis-content.flexcontainer{
  align-items: flex-start;
}

.thesis .subcontainer video{
  width: 100%;
}

.thesis-content .subcontainer h2{
  margin: 1.5rem 0 0.5rem 0;
}

.thesis-content .subcontainer p{
  margin: 0 auto 2rem auto;
}

.thesis-content .support {
  flex-direction: column;
  justify-content: flex-start;
}

.infotext h2,
.infotext p{
  margin: 1rem auto 1rem 0;
}

/*footer*/

footer{
  background-color: Plum;
  overflow: auto;
}

footer p {
  display: inline-block;
  float: left;
  width: 50%;
  padding-left: 1.5rem;
  margin: 1rem 0 2rem 0;
}

footer ul{
  display: inline-block;
  float: right;
  padding-right: 1.5rem;
  margin: 1rem 0 2rem 0;
}

footer ul li{
  display: inline-block;
}

/*responsive section mobile*/

@media only screen and (max-width: 560px){

  /*mobile header*/
  .desktopnav,
  #logotext1,
  #logotext2{
    display: none;
  }

  header{
    justify-content: space-around;
    max-width: 35rem;
    height: 4rem;
  }

  header .logo {
    margin-left: 0;
  }

  .logo img {
    margin-right: 0;
  }

  .mobilenav {
    display: inline;
    padding: 0 1rem;
  }

  .mobilenav ul li{
    display: inline;
    padding: 0 1rem;
  }

  .mobilenav ul li a{
   text-decoration: none;
  }

  /*mobile banner*/
  .banner{
    max-width: 35rem;
    flex-direction: column;
  }

 .banner .subcontainer{
    max-width: 100%;
    margin: 0 0;
  }

  .banner .support {
      max-width: 100%;
  }

  .banner .support h1{
    margin: 2rem 1rem;
  }

  .banner .support h2{
    margin: 0 1rem;
  }

  .banner .support button{
    margin: 1.5rem 1rem 2rem 1rem;
  }

  /*mobile info*/
  .info .subcontainer{
    display: none;
  }

  .info .support{
    max-width: 100%;
    margin: 1rem 1rem 2rem 1rem;
  }

  #orientation-box, #campus{
    margin-bottom: 2rem;
  }

  /*mobile courses*/
  .program-box img{
    display: none;
  }

  .courses{
    flex-direction: column;
    margin: 0 1rem 1.5rem 1rem;
    width: 100%;
  }

  .course h1{
    margin: 2rem auto 1rem auto;
  }

  .program-box{
    width: 80%;
    padding: 1rem 1rem 1.5rem 1rem;
    background-color: red;
    margin: 0 1rem 0.5rem 1rem;
  }

  .program-details h3{
    display: none;
  }
  .program-details p:nth-child(n+1){
    display: none;
  }

  /*mobile thesis*/

  .thesis-content.flexcontainer{
    align-items: center;
  }

  .thesis-content{
    max-width: 100%;
  }

  .thesis-content .subcontainer{
    margin-top: 1rem;
    max-width: 100%;
    width:100%;
    margin: 1rem 0 1.5rem 0;
  }

  .thesis-content .subcontainer p,
  .thesis-content .subcontainer h2,
  .thesis-content .support{
    display: none;
  }

  /*Mobile Footer*/

  footer {
    overflow: hidden;
  }

  footer ul{
    display: none;
  }

  footer p{
    width: 100%;
    float: none;
    padding: 1rem 1rem;
    margin: 0 0;
    text-align: left;
  }
}
